*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

#navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.nav-border{
    border: 1px solid transparent;
    transition :all 0.153s ease-in;
}

.nav-border:hover{
    border: 1px solid white;
    border-radius: 5%;
}

.class-section-in{
    display: flex;
}

#location-navbar{
 padding-right: 0.25rem;
 }

#add-navbar-first{
 color: #cccccc;
 font-size: 0.8rem;
 margin-left: 0.9375rem;
}

#add-navbar-second{
 color: #ffffff;
 font-size: 1rem;
}

#navbar-search-section{
    display: flex;
    align-items: center;
    background-color: pink;
    width: 38.75rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    transition: all 0.153s ease-in;
}

#navbar-search-section:hover{
    border: solid orange;
}

#search-select-navbar{
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
    background-color: #f3f3f3;
    color: #0F1111;
    width: 3.125rem;
    text-align: center; 
}

#navbar-search-input{
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
}

#search-button-navbar{
    width: 2.8125rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #febd68;
    border-radius: 0 0.25rem 0.25rem 0;
    color: #0F1111;
}
 
#lang-navbar-section{
    height: 2.5rem;
    display: flex;
    align-items: center;
}

#lang-select-navbar{
     width: 2.8rem;
     height: 100%;
     background-color: #0f1111;
     color: white;
     font-size: 1rem;
     font-weight: bold;
     border: none;
}

.navbar-first{
    font-size: 0.7rem;
}

.navbar-second{
    font-size: 0.85rem;
    font-weight: bold;
}

#navbar-cart-section{
    display: flex;
} 

#navbar-cart-section i{
    font-size: 2.2rem;
}

 #navbar-cart-first {
    margin-top: 1.3rem;
}

#panel-header-section,
#panel-right-section-header{
    display: flex;
    background-color: #222f3d;
    height: 2.5rem;
    align-items: center;   
    color: white
}

#panel-all-section-menu{
    display: flex;
    width: 2.8125rem;
    height: 100%;
    align-items: center;
    margin-left: 0.8rem;
}

#panel-all-section-menu i{
    font-size: 1.5rem;
    color: white;
}

#panel-all-section-text{
    margin-left: 0.5rem;
    font-size: 0.825rem;
}
  
#panel-right-section-header{
    width: 100%;
}

.margin-right{
    font-size: 0.8725rem;
    margin-left: 0.6rem;
    border: 1px solid transparent;
    transition :all 0.153s ease-in;
    height: 100%;
    display: flex;
    align-items: center;


}

.margin-right:hover{
    border: 1px solid white;
    border-radius: 5%;
}

#hero-section-main{
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, #dce6e8 100%), url("hero_image.jpg");
    background-size: cover;
    height: 40rem;
    position: relative;
}

#main-hero-section-amazonin-path{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 96%;
    height: 2.5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
}

#main-hero-section-amazonin-path-span-text{
    color: #007185;

}

#main-hero-section-amazonin-path-span-text:hover{
    color: #f90;
    cursor: pointer;
    text-decoration: underline;
}

#main-boxes-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top: -18rem;

}

.box-main-section{
    height:  25rem;
    background-color: white;
    width: 23%;
    padding: 1.25rem 0rem 0.9375rem;

}

#main-section-box1-img-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-section-box1-img{
 width: 90%;
}

.h2-box,.p-box{
     padding-left: 1rem;
}

.p-box{
color: #2162A1;
display: inline-block;
}

.p-box:hover{
    color: orange;
}


#footer-section{
    position: relative;
    top: -23rem;
}
#footer-section-backto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
    height: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

#footer-section-middle{
background-color: #222f3d;
color: white;
height: 30rem;
}

#footer-section-middle-topside{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;

}
#footer-section-middle ul{
    list-style: none;
    margin-top: 3.5rem; 
}

#footer-section-middle p{
    font-size: 1.3rem;
    font-weight: bold;
}

#footer-section-middle li{
    font-size: 1rem;
    margin-top: 0.5rem;
    color: #DDDDDD;
}

#footer-section-middle li:hover{
    text-decoration: underline;
    cursor: pointer;
}

#footer-section-middle-bottomside{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#footer-section-middle-bottomside-right{
    background-image: url("amazon.png");
    background-size: cover;
    height: 3.8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-section-middle-bottomside-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-section-middle-bottomside-left-third,
#footer-section-middle-bottomside-left-second,
#footer-section-middle-bottomside-left-first{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#footer-section-middle-bottomside-left-first input,
#footer-section-middle-bottomside-left-second input,
#footer-section-middle-bottomside-left-third input{
    background-color: #222f3d; 
    height: 1.8rem;
    color: #DDDDDD;
    border: 0.001rem solid #DDDDDD;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    text-align: left;
}

#footer-section-middle-bottomside-left-first input::placeholder{
    color: #DDDDDD;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 2rem;
}

#footer-section-middle-bottomside-left-first-icon,
#footer-section-middle-bottomside-left-second-icon,
#footer-section-middle-bottomside-left-third-icon{
   position: absolute;
   left: 1rem;;
   z-index: 100;
   color: #DDDDDD;
}

#footer-section-middle-bottomside-left-first input{
    width: 7rem;
}

#footer-section-middle-bottomside-left-second input{
    width: 12rem;
}

#footer-section-middle-bottomside-left-third input{
    width: 8rem;
}

#footer-section-middle-bottomside-left-second input::placeholder{
    color: #DDDDDD;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 2rem;
}

#footer-section-middle-bottomside-left-third input::placeholder{
    color: #DDDDDD;
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 2rem;
}

#footer-section-bottom{
    background-color: #131a22;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-section-bottom-top{
    display: flex;
    justify-content: space-evenly;
    padding-left: 18rem;
    padding-right: 18rem;
}

#footer-section-bottom-top-1 h4,
#footer-section-bottom-top-2 h4,
#footer-section-bottom-top-3 h4,
#footer-section-bottom-top-4 h4,
#footer-section-bottom-top-5 h4,
#footer-section-bottom-top-6 h4,
#footer-section-bottom-top-7 h4{
    color: #fff7f7d3;
    font-size: 0.8rem;
    font-weight: 500;

}


#footer-section-bottom-top-1 p,
#footer-section-bottom-top-2 p,
#footer-section-bottom-top-3 p,
#footer-section-bottom-top-4 p,
#footer-section-bottom-top-5 p,
#footer-section-bottom-top-6 p,
#footer-section-bottom-top-7 p{
    color: #dddddd81;
    font-size: 0.6rem;
}

#footer-section-bottom-top-1-1,
#footer-section-bottom-top-2-1,
#footer-section-bottom-top-3-1,
#footer-section-bottom-top-4-1,
#footer-section-bottom-top-5-1,
#footer-section-bottom-top-6-1,
#footer-section-bottom-top-7-1,
#footer-section-bottom-top-1-2,
#footer-section-bottom-top-2-2,
#footer-section-bottom-top-3-2,
#footer-section-bottom-top-4-2,
#footer-section-bottom-top-5-2,
#footer-section-bottom-top-6-2,
#footer-section-bottom-top-7-2,
#footer-section-bottom-top-1-3,
#footer-section-bottom-top-2-3,
#footer-section-bottom-top-3-3,
#footer-section-bottom-top-4-3,
#footer-section-bottom-top-5-3,
#footer-section-bottom-top-6-3,
#footer-section-bottom-top-7-3,
#footer-section-bottom-top-2-4,
#footer-section-bottom-top-3-4, 
#footer-section-bottom-top-4-4,
#footer-section-bottom-top-5-4,
#footer-section-bottom-top-6-4
{
    margin-bottom: 3.2em;
}

#footer-section-bottom-top-1-1:hover *,
#footer-section-bottom-top-2-1:hover *,
#footer-section-bottom-top-3-1:hover *,
#footer-section-bottom-top-4-1:hover *,
#footer-section-bottom-top-5-1:hover *,
#footer-section-bottom-top-6-1:hover *,
#footer-section-bottom-top-7-1:hover *,
#footer-section-bottom-top-1-2:hover *,
#footer-section-bottom-top-2-2:hover *,
#footer-section-bottom-top-3-2:hover *,
#footer-section-bottom-top-4-2:hover *,
#footer-section-bottom-top-5-2:hover *,
#footer-section-bottom-top-6-2:hover *,
#footer-section-bottom-top-7-2:hover *,
#footer-section-bottom-top-1-3:hover *,
#footer-section-bottom-top-2-3:hover *,
#footer-section-bottom-top-3-3:hover *,
#footer-section-bottom-top-4-3:hover *,
#footer-section-bottom-top-5-3:hover *,
#footer-section-bottom-top-6-3:hover *,
#footer-section-bottom-top-7-3:hover *,
#footer-section-bottom-top-2-4:hover *,
#footer-section-bottom-top-3-4:hover *, 
#footer-section-bottom-top-4-4:hover *,
#footer-section-bottom-top-5-4:hover *,
#footer-section-bottom-top-6-4:hover *{
 text-decoration: underline;
 cursor: pointer;
}

#footer-section-bottom-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     color: #fff7f7d3;
}

#footer-section-bottom-bottom-up{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

#footer-section-bottom-bottom-up p {
    margin-right: 1rem;
}

#footer-section-bottom-bottom-up p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#footer-section-bottom-bottom-down{
    font-size: 0.8rem;
}